<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <%= link_to "Pinch Lineup App", root_path %>
  is a project to make social even more engaging.
</p>
<p>
  <a href="https://github.com/BJam/pinch_lineup">See this project on Github.</a>
</p>