<div class="center hero-unit">
  <h1>Welcome to the Pinch Lineup App</h1>

  <h2>
    This is the home page for the
    <%= link_to "Pinch Lineup App", root_path %>
    .
  </h2>
  <a href="#" class="btn btn-large btn-primary">Sign up now!</a>

</div>