<footer class="footer">
  <small>
    Pinch Lineup
    <a href="mailto:bjamjameson@gmail.com?Subject=PinchLineupApp%20-%20Contact%20Us" target="_top">
    by Brian Jameson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>